:root {
	--main-link-color: #a9a8ee;
	--ds-link: #decefa;
	--ds-text-link-resting: #a9a8ee;
	--ds-text-highEmphasis: #decefa;
	--ds-text-subtlest: #efe9f9;
	--ds-text: #decefa;
	--ds-text-subtle: #e2d8f5;
	--ds-text-selected: #decefa;
	--ds-menu-seperator-color: #8c8891;
	--ds-background-input: #646169;
	--ds-surface-overlay: #646169;
	--ds-background-neutral: #732AEB;
	--ds-background-subtleNeutral-resting: #732AEB;
	--ds-background-neutral-hovered: #370080;
	--ds-background-neutral-subtle-hovered: #3b3b3b;
	--ds-background-selected: #646169;
	--ds-background-selected-hovered: #3b3b3b;
	--ds-border-focused: #732AEB;
	--ds-background-neutral-subtle: #232223;
	--overlay-border: 1px solid #dfe1e6;
	--border-radius: 3px;
	--ds-surface: #232223;
	--h1-text: #ece6f9;
	--menu-hover: #3b3b3b;
	--emphasis-button: #732AEB;
	--emphasis-button-hover: #6600EB;
	--emphasis-button-color: #FFF;
	--input-bg: #656266;
}
h1, h1 *, h2, h2 * {
	color: var(--h1-text) !important;
}
input, .ghx-backlog-search-container *,  {
	background-color: var(--input-bg) !important;
	color: var(--ds-text);
}
input::placeholder, .ghx-summary {
	color: var(--ds-text) !important;
}
div[data-ds--text-field--container=true] {
	border-color: var(--ds-text);
}
.aui-page-panel, .ghx-backlog-container, .ghx-issue-compact, .ghx-end, .ghx-sprint-group, #ghx-pool, #ghx-column-header-group, #ghx-backlog {
	background-color: var(--ds-surface) !important;
}
.ghx-issue-compact {
	border-color: var(--ds-menu-seperator-color) !important;
}
div[data-resize-control=true] div:first-child {
	background: var(--ds-menu-seperator-color) !important;
}
button[data-resize-button=true] {
	background: var(--emphasis-button) !important;
	color: white !important;
}
button[data-resize-button=true]:hover {
	background: var(--emphasis-button-hover) !important;
}
span[aria-label=search] svg path {
	fill: var(--ds-text);
}
.ghx-inner {
	color: var(--ds-text) !important;
}
.ghx-backlog-header .ghx-name {
	color: var(--ds-text-highEmphasis) !important;
}
.ghx-column, .ghx-issue {
	background-color: var(--menu-hover) !important;
}
.ghx-parent-group {
	background-color: var(--ds-surface-overlay) !important;
}
.ghx-swimlane-header:after {
	content: none !important;
}
.ghx-issue {
	box-shadow: 0 1px 2px 0 var(--ds-menu-seperator-color) !important;
}
.subnavigator-title {
	color: var(--h1-text) !important;
}
#board-tools-section-content, .jira-dialog *, .aui-inline-dialog-contents, .js-sprint-actions-list, div[data-role=droplistContent] {
	background-color: var(--ds-surface-overlay) !important;
	border: var(--overlay-border) !important;
	border-radius: var(--border-radius) !important;
}
.aui-list-item a {
	color: var(--h1-text) !important;
}
.aui-list-item.active, .aui-list-item.active a, div[data-role=droplistContent] span[class^=Item__Span]:hover {
	background-color: var(--menu-hover) !important;
}
.aui-button {
	background-color: var(--emphasis-button) !important;
	color: var(--emphasis-button-color) !important;
}
.aui-button:hover {
	background-color: var(--emphasis-button-hover) !important;
}
.aui-button .aui-icon {
		color: #FFF !important;
}
.aui-button[aria-expanded=true] {
	background-color: var(--emphasis-button-hover) !important;
}
.aui-button-link {
	color: var(--emphasis-button-color) !important;
	background-color: transparent !important;
}
.aui-button-link:hover {
	background-color: transparent !important;
}
div[data-role=droplistContent] * {
	color: var(--ds-text-highEmphasis) !important;
}
span[data-item-description=true], .ghx-sprint-goal, .ghx-dates>div, .ghx-issue-count, .ghx-key {
	color: var(--ds-text-subtlest) !important;
}
#createGlobalItem {
	background-color: var(--emphasis-button) !important;
	cursor: pointer !important;
	color: var(--emphasis-button-color) !important;
}
#createGlobalItem:hover {
	background-color: var(--emphasis-button-hover) !important;
}
header[role=banner] {
	background-color: #141414 !important;
}
nav button {
	background-color: #3b3b3b !important;
	color: #decefa !important;
	cursor: pointer;
}
nav button:hover {
	background-color: #282828 !important;
}
.atlaskit-portal a[draggable=false]:hover, .atlaskit-portal a[draggable=false]:focus, atlaskit-portal a[draggable=false]:active, .atlaskit-portal button[type=button]:hover, .atlaskit-portal button[type=button]:focus, .atlaskit-portal button[type=button]:active {
	background-color: var(--menu-hover);
	cursor: pointer;
}
div[role=tablist] div:first-child {
	color: #c1adea !important;
}
div[role=tablist] div:first-child span[data-selected=true]{
	background-color: #c1adea;
}
div[role=tablist] div {
	color: #a486e0;
}
div[role=tablist] div:hover {
	color: #b9a2e7;
}
section[data-testid=switchTo__section] h1 {
	color: var(--h1-text);
}
a.section-link * {
	color: #a9a8ee !important;
}
a[data-testid^=switcher-item] div {
	background-color: #4a10a9;
}
.favourite-btn-icon {
	filter: invert(1);
}
. ak-renderer-document * {
	color: var(--ds-text);
}
img[title="Zeplin"], img[title="InVision for Jira"] {
	filter: invert(100%) sepia(100%) saturate(0%) brightness(119%) contrast(115%);
}
td .ghx-no-avatar, .jira-dialog-heading h2, .buttons, .ghx-avatar-img, .buttons-container, .jira-dialog-content {
	border: none !important;
}
.ghx-assigned-work-table td {
	vertical-align: none;
}
